[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
chatterbot = "==1.0.4"
chatterbot-corpus = "*"
pytz = "*"
flask-cors = "*"
gunicorn = "*"
pyyaml = "*"

[dev-packages]

[requires]
python_version = "3.9"
