[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
chatterbot = "==1.0.0"
flask-cors = "*"
gunicorn = "*"
pytz = "*"
chatterbot-corpus = "*"

[dev-packages]

[requires]
python_version = "3.9"
